<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bnnvara.kiespijn">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DilemmaPage.DilemmaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalPage.PersonalPageActivity"
            android:screenOrientation="portrait"
            android:label="Jouw Kiespagina">
        </activity>
        <activity
            android:name=".ArticleSearchPage.ArticleSearchActivity"
            android:screenOrientation="portrait"
            android:label="Artikel">
        </activity>
        <activity
            android:name=".CreateDilemmaPage.CreateDilemmaActivity"
            android:screenOrientation="portrait"
            android:label="Maak Dilemma">
        </activity>
        <activity
            android:name=".TargetGroup.TargetGroupActivity"
            android:screenOrientation="portrait"
            android:label="Doelgroep">
        </activity>
        <activity
            android:name=".DilemmaFromWho.DilemmaFromWhoActivity"
            android:screenOrientation="portrait"
            android:label="Afzender">
        </activity>
        <activity
            android:name=".Deadline.DeadlineActivity"
            android:screenOrientation="portrait"
            android:label="Deadline">
        </activity>
        <activity
            android:name=".GoogleImageSearch.GoogleSearchActivity"
            android:screenOrientation="portrait"
            android:label="Google Search">
        </activity>
        <activity
            android:name=".AddContentPage.AddContentActivity"
            android:screenOrientation="portrait"
            android:label="Toelichting"
            android:parentActivityName=".DilemmaPage.DilemmaActivity">
        </activity>
        <activity
            android:name=".ContentPage.ContentPageActivity"
            android:screenOrientation="portrait"
            android:label="Kiesresultaat"
            android:parentActivityName=".ResultPage.ResultActivity">
        </activity>
        <activity
            android:name=".FriendList.FriendListActivity"
            android:screenOrientation="portrait"
            android:label="Vrienden">
        </activity>
        <activity
            android:name=".GroupPage.GroupPageActivity"
            android:screenOrientation="portrait"
            android:label="Groepen beheren">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:parentActivityName=".DilemmaPage.DilemmaActivity"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ResultPage.ResultActivity"
            android:screenOrientation="portrait"
            android:label="Toelichting"
            android:parentActivityName=".PersonalPage.PersonalPageActivity"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>